<div style="position:relative;width:200px;height:600px;display:block;">
    <div  style="position:absolute;width:200px;height:50px;top:5%;display:block;color:white;">@Html.ActionLink("Home","Index")</div>
    <div style="position:absolute;width:200px;height:50px;top:10%;display:block;color:white;">@Html.ActionLink("Link1","Index")</div>
    <div style="position:absolute;width:200px;height:50px;top:15%;display:block;color:white;">@Html.ActionLink("LoginPanel","Login")</div>
    <div style="position:absolute;width:200px;height:50px;top:20%;display:block;color:white;">@Html.ActionLink("Link2","Index")</div>
</div>
